*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    overflow-x: hidden;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    height: 83px;
    box-shadow: none;
    background: #fff;
    box-shadow: -4px 2px 16px -9px;
}

.nav-right{
    display: block;
    float: right;
    list-style: none;
    margin: auto;
    text-align: center;
    width: 30%;
    position: relative;
    top: 27%;

}

.right-nav-list{
    list-style: none;
    display: inline-flex;
    margin-right: 40px;
    margin-top: 12px;
}
.right-nav-list > a {
    padding-left: 20px; 
    background: #BF1627;
    margin-left: 10px;
    height: 30px;
    width: 90px;
    padding-top: 5px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-decoration: none;
}
    .right-nav-list > #fb {
        padding-left: 20px; 
        background: #4267b2;
        margin-left: 10px;
        height: 30px;
        width: 90px;
        padding-top: 5px;
        font-family: 'Montserrat', sans-serif;

}
.right-nav-list > a:nth-child(1){
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-right: 10px;
}
.right-nav-list > a:nth-child(2){
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-right: 16px;

}
.right-nav-list > a >li> i{
    color: #fff;
    padding-right: 3px;
}



.header .nav-bar {
    padding: 0 50px;
    color: #fff;
    background: white;
    position: relative;
    line-height: 40px;
    float: left;
    box-shadow: none;
    width: 70%;

}

.header .nav-link {
    display: inline-block;
    color: black;
    padding-bottom: 10px;
    line-height: 40px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    text-decoration: none;
    margin-left: 20px;
    margin-top: 0px;
}






.shadow {
    box-shadow: 10px 10px 5px #666666;
}
 


.header img{
    max-height: 34.2px;
    max-width: none;
    margin-top: 23px;
    margin-left: 100px;
    
}

sup{
    color: #17A8E1;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
    font-size: 9px;
}
.media{
    width: 25%;
    float: right;
    position: absolute;
    margin-left: 60%;
    margin-top: 0%;
}
 .iosd{
    background: #A22C29;
    color: white;
    font-family: 'Open Sans', sans-serif;
    width: 80px;
    height: 30px;
    float:right;
    margin-left: 50px;
    padding-left: 2px;
    border-radius: 15px 0px 0px 15px; 
}

.facebook {
    background: #4267b2;
    float: right;
    width: 80px;
    height:30px;
    margin-left: 300px;
    margin-top: 0px;
    border-radius: 0px 15px 15px 0px; 
} 

.main-page ::after{
    content: "";
    display: table;
    clear: both;
}


.card-1{
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    width: 250px;
    height: 350px;
    margin-left: 100px;
    margin-top: 140px;
    float: left;   
} 



.card-2{
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    width: 250px;
    height: 350px;
     margin-left: 400px; 
    margin-top: 140px;
   
} 

.cards{
    
   float: right;
   width: 50%;
   padding: 10px;
   height: 650px;
   margin: 0 -5px;
 }

 .cards img{
    width: 250px;
    height: 350px;
 }
.home{

  float: left;
  width: 50%;
  padding: 10px;
  height: 650px;
    
}

.home img {
    margin-left: 35px;
    margin-top: 110px;
    width: 180px;
    height: 100px;
}

#caption {
    font-family: 'Raleway', sans-serif;
    color: black;
    font-size: 22px;
    margin-left: 45px;
    margin-top: 25px;
    font-weight: 590;
}

.card-3 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    width: 250px;
    height: 100px;
    margin-top: 20px;
    margin-left: 45px;
    float: left;
    overflow: hidden;
    padding: 10px;
  }

  .card-4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    width: 160px;
    height: 100px;
    margin-top: 20px;
    margin-left: 70px;
    float: inherit;
    overflow: hidden;
    padding: 10px;
  }

  .card-5 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    width: 150px;
    height: 100px;
    margin-top: 20px;
    margin-left: 20px;
    float: right;
    overflow: hidden;
    padding-top: 5px;
    padding-left: 20px;
    padding-bottom: 0px;
  }

#para{
    margin-top: 200px;
    font-family: 'Montserrat', sans-serif; 
    margin-left: 40px;
    margin-right: 20px;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
}

.box-para{
    font-size: 16px;
    color: #808080;
    margin-bottom: 20px;
    font-weight: 700;
    font-family: 'Rubik', sans-serif;
    padding-left: 8px; 
    
}

.number{
    color: #17A8E1;
    font-size: 38px;
    font-weight: 700;
    font-family: 'Fjalla One', sans-serif;
}


#container{
    min-height: 100%;
}

#main{
    overflow: auto;
    padding-bottom: 100px;
}

#footer{
    background: rgb(0,212,255);
    background: linear-gradient(36deg, rgba(0,212,255,1) 0%, rgba(11,11,143,1) 64%);
    position: relative;
    height: 140px;
    margin-top: -100px;
    clear: both;
}

.column {
    float: left;
    width: 23%;
    padding-left:25px;
    margin-top: 20px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
 
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    width: 300px;
    height: 100px;
    padding: 10px;
    margin-left: 10px;
    text-align: center;
    background-color: #f1f1f1;
    overflow: hidden;
  }
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

 .card img {
     width: 90px;
     height: 70px;
     float: left; 
     
 }

 h5{
     padding-top: 1px;
     height: 10px;
     width: 50%;
     float: left;
     margin-left: -15px;
     font-size: 16px;
     font-weight: 600;
     font-family: 'Source Sans Pro', sans-serif;
 }

 .card p{
     
    width: 185px;
    height: 40px;
    font-size: 10px;
    color: #808080;
    float: right;
    margin-top: 20px;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
}

.chat{

   background: linear-gradient(36deg, rgba(0,212,255,1) 0%, rgba(11,11,143,1) 64%);
   position:absolute;
   bottom:0;
   width:20%;
   height:30px;
   float:right;
   right: 0;
   margin-right: 200px;
   border-top-right-radius: 30px;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
}
.chat > p {
    color: #fff;
    text-align: center;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
}
.span-right {
    position: relative;
    top: -29px;
    height: 18px;
    width: 20px;
    background: #0ed00e;
    float: right;
    border-bottom-left-radius: 60px;
    z-index: 99;
    border-top-right-radius: 73px;
    right: 6px;
}
    
    

  
 
